doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title= title
    
    link(href="/favicon.ico", rel="icon", type="image/x-icon")

    //- social share
    meta(property="og:title" content="RactivePlayer - A library for interactive videos in HTML/CSS/JS")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://ractive-player.org")
    meta(property="og:image" content="https://ractive-player.org/img/logo-og.png")
    meta(property="og:description" content="A library for interactive videos in HTML/CSS/JS")

    //- CSS
    link(href="/css/prism.css", rel="stylesheet", type="text/css")
    link(href="/css/style.css", rel="stylesheet", type="text/css")

    script(src="/js/prism.js")
  body
    nav
      a(href="/")
        img(alt="Ractive-Player", id="logo", src="/img/logo.svg")
      ul
        li Guide
          ul
            li
              a(href="/guide/overview") Overview
            li
              a(href="/guide/authoring") Authoring
            li
              a(href="/guide/recording") Recording
            li
              a(href="/guide/mastering") Mastering
            li
              a(href="/guide/plugins") Packages

        li Reference

          ul
            li
              a(href="/reference/css") CSS
            li
              a(href="/reference/Audio") Audio
            li
              a(href="/reference/Hooks") Hooks
            li
              a(href="/reference/IdMap") IdMap
            li
              a(href="/reference/KeyMap") KeyMap
            li
              a(href="/reference/Playback") Playback
            li
              a(href="/reference/Player") Player
            li
              a(href="/reference/Script") Script
            li
              a(href="/reference/Utils") Utils
            li
              a(href="/reference/Video") Video
        //- li
          //- a(href="/about") About
    main !{content}

    script(src="/js/fake-fullscreen.js")

    //- livereload
    //- if process.env.NODE_ENV === "development"
      //- script document.write(`<script src="${location.protocol}//${location.hostname}:36000/livereload.js"><` + `/script>`);
